/* General layout styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .dish-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 100%;
    padding: 0px;
    min-height: 160px;
  }

  .ant-checkbox-wrapper {
    margin-top: 0 !important;
  }

  .dish-list-container {
    max-height: 520px; 
    overflow-y: auto;  
  }

    .dish-card-wrapper .ant-card .ant-card-body {
    padding: 5px;
    border-radius: 0 0 8px 8px;
    width: 100%;
    }

  .dish-card-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
  }

  .box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dish-card:hover {
    transform: translateY(-5px);
  }
  
  .dish-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    margin-right: 10px;
  }
  
  .dish-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .dish-details {
    flex: 1; /* Chiếm hết không gian còn lại */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .dish-details .box1 h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    color: #333;
  }
  
  .dish-details p {
    font-size: 14px;
    margin: 5px 0;
    color: #666;
  }

  .ant-card-body {
    padding: 0;
  }
  
  .ant-checkbox-wrapper {
    margin-top: 10px;
  }
  
  /* Buttons for filtering */
  .ant-btn-group > .ant-btn {
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
  }
  
  .ant-btn-primary:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }

  .dropdown-filter {
    background-color: white;
    color: black;
    margin-right: 6px;
  }
  
  /* Responsive grid layout */
  @media (max-width: 768px) {
    .dish-card {
      margin-bottom: 15px;
    }
  
    .dish-image {
      height: 120px;
    }
  }
  